.employee-list-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.header-actions {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

/* If you want the buttons to have equal width */
.header-actions button {
  flex: 1;
}

/* Icon spacing */
.mat-icon {
  margin-right: 8px;
}

.filter-section {
  margin-bottom: 20px;
}

.filter-section select {
  margin-left: 10px;
  padding: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

.employee-photo {
  width: 65px;
  height: 65px;
  border-radius: 10%;
  object-fit: cover;
}

.loading-indicator {
  padding: 20px;
  text-align: center;
  font-style: italic;
  color: #666;
}

.error-message {
  color: #d32f2f;
  padding: 10px;
  background-color: #fde0e0;
  border-radius: 4px;
  margin: 10px 0;
}

.empty-state {
  padding: 20px;
  text-align: center;
  color: #666;
}

button {
  padding: 6px 12px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.ts{
  padding: 6px 13px;
  background-color: #f4b136;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(76, 109, 175);
}
