<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <h3>Employee List</h3>
      <button class="btn btn-primary mb-3" (click)="addEmployee">Add New Employee</button>
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>#</th>
          <th>Employee Name</th>
          <th>Position</th>
          <th>Photo</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let employee of employees; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ employee.name }}</td>
          <td>{{ employee.email }}</td>
          <td>{{ employee.departmentId }}</td>
          <td>
            <img *ngIf="employee.photoUrl" [src]="employee.photoUrl" alt="photo" width="50" height="50" />
          </td>
          <td>
            <button class="btn btn-warning" (click)="editEmployee(employee.id)">Edit</button>
            <button class="btn btn-danger" (click)="deleteEmployee(employee.id)">Delete</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
